<div>
  <%= flash[:notice] %>
</div>
<h1>Welcome to Bookers!!</h1>
<p>In Bookers,

you can share and exchange your opinions , inpressions , and emotions

about various books!</p>
<%= link_to "Login", new_user_session_path %>
<%= link_to "Sign up", new_user_registration_path %>